$accent-blue: #18B6F8;
$capriza-yellow: #FACE42;
$charcoal-gray: #3A3A3A;
$dark-gray: #888888;
$medium-gray: #ABABAB;
$gray: #CCCCCC;
$light-gray: #E5E5E5;
$super-light-gray: #EBEBEB;
$invisible-gray: #F9F9F9;
$error-color: #b53232;

$red:       $error-color;
//$cyan:      #2fd853;
$cyan:      lighten(green, 10%);
$green:     green;
